@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
.formsigup{

    position: relative;
    top:90px;
    box-shadow:  3px 3px 5px 6px ;
    border-radius: 10px;
    background-color: #fff;
}
.fonte{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    
}
body{
    background-color:#282c34;
}